<div class="footer section">
      <div class="grid grid--center">

          <div class="grid__item one-whole">
              <img src="static/img/logo.png" />
          </div>

          <div class="grid__item one-whole">
              <p class="blurb">
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
              </p>
          </div>

          <div class="grid__item one-whole tablet--one-half contact-right">
              <p>66 John Downs drive</p>
              <p>Browns Bay</p>
          </div>

          <div class="grid__item one-whole tablet--one-half contact-left">
              <p>021 1687456</p>
              <p>dupreez.s.m@gmail.com</p>
          </div>

          <div class="grid__item one-whole">
              <h2>Mairangi Bay Tennis Club 2016</h2>
          </div>

      </div>
</div>
