<!-- Navigation Menu and Header-->
<div class="navbar">
    <div class="container">
        <div class="grid grid--center">

            <div class="grid__item one-half">
                <div class="logo">
                    <div class="logo__item">
                        <a href="/"><img class="" src="static/img/logo.png" /></img></a>
                    </div>

                    <div class="logo__item logo__text">
                        <p>Mairangi Bay Tennis Club</p>
                    </div>
                </div>
            </div>


            <div class="grid__item one-half nav__grid">
                <nav class="nav">
                    <!-- Desktop -->
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__item__content" href="#">Home</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">About Us</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Quick Links</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Contact</a></li>
                        <li class="nav__item"><a class="nav__item__content" href="#">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <button class="menu-icon hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="overlay-content">
            <div class="grid grid--center">
                <div class="grid__item one-whole mobile-nav-item">
                    <a href="#">Home</a>
                </div>
                <div class="grid__item one-whole mobile-nav-item">
                    <a href="#">About Us</a>
                </div>
                <div class="grid__item one-whole mobile-nav-item">
                    <a href="#">Quick Links</a>
                </div>
                <div class="grid__item one-whole mobile-nav-item">
                    <a href="#">Contact</a>
                </div>
                <div class="grid__item one-whole mobile-nav-item">
                    <a href="#">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
