.footer {
    padding: 54px 0;
    text-align: center;

    background-color: $darkBlue;
    color: $white;

    img {
      padding: 30px;
    }

    h2 {
      font-size: 1.2em;
      padding: 20px
    }

    p {
        font-size: 1.0em;
        margin: 0;
    }

    .contact-left {
        @include respond-to(tablet) {
            text-align: left;
        }
    }

    .contact-right {
        @include respond-to(tablet) {
            text-align: right;
        }
    }

    .blurb {
        max-width: 50%;
        margin: 0 auto;
        padding: 30px;
    }
}
