.footer {
    padding: 54px 0;
    text-align: center;

    background-color: $darkBlue;
    color: $white;

    img {
      padding: 40px;
    }

    h2 {
      font-size: 1.2em;
      padding: 20px
    }

    p {
        font-size: 1.0em;
        margin: 0;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }
}
