.navbar {
    height:80px;
    background-color: $black;
    color: $white;

    a {
        text-decoration: none;
        padding: 8px;
        color: $white;

        &:hover {
            text-decoration: underline;

        }
    }
}

.logo {
    display: flex;
    height: 100%;

    &__item {
        align-self: center;
        padding: 10px;

        img {
            width: 80%
        }
    }

    &__text {
        display: none;

        @include respond-to(desktop) {
            display: block;
        }
    }

}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav__grid {
    @include respond-to(less-desktop) {
        display: none;
    }
}

.nav__list {
    align-self: center;

    .nav__item {
        display: inline;
    }
}

.menu-icon {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    z-index: 100;
    right: ($gutter / 2);
    top: 20px;
    color: $white;

    &--is-active {
        position: fixed;
    }

    @include respond-to(desktop) {
        display: none;
    }
}
