.overlay-content {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: all 200ms;
    transition-timing-function: ease-in-out;
	  opacity: 0;
    background-image: url(/static/img/temporary/hero_4.jpg);
    background-size: cover;
    background-position: center center;

    @include respond-to(desktop) {
        display: none;
    }

    &--is-active {
        opacity: 1;
        left: 0;
    }

    .mobile-nav-item {
        text-align: center;
        align-self: center;
        a {
          font-size: 1.6em;
          font-weight: bold;
        }
    }
}
