.section {
    &__inner {
      text-align: justify;
      max-width: 1140px;
      margin: 0 auto;

      padding-left: $gutter;
      padding-right: $gutter;
    }

    h2 {
        text-align: center;
        padding-bottom: 20px;
    }


    padding-top: 20px;
    padding-bottom:20px;

    @include respond-to(tablet) {
        padding: 48px 0;
    }
}
