.section {
    &__thin {
      text-align: justify;
      max-width: 1140px;
      margin: 0 auto;

      padding-left: $gutter;
      padding-right: $gutter;
    }

    padding-top:20px;
    padding-bottom:20px;
}


.recent-news {
    background-image:url('/static/img/temporary/bg_home_1.jpg');
    background-size: cover;
    background-position: center center;

    h1 {
      text-align: center;
    }
    color: $white;
}


.section_2 {
    background-color: $white;
}

.section_3 {
    background-color: $bgMagenta;
}

.section_4 {
    background-color: $bgYellow;
}
