.section_1 {
    background-color: $bgBlue;
    text-align: justify;
}

.section_2 {
    background-color: $bgGreen;
    text-align: justify;
}

.section_3 {
    background-color: $bgMagenta;
    text-align: justify;
}

.section_4 {
    background-color: $bgYellow;
    text-align: justify;
}
