{% extends "base.html" %}

{% block main-content %}

<!-- Nav -->
<div class="nav">
    <p>Home</p>
    <p>One</p>
    <p>Two</p>
    <p>Three</p>
    <p>Contact</p>
</div>



<!-- Hero Slider -->
<div class="hero-slider">
    <div id="heroSlider">
        <div class="image-container">
          <img src="/static/img/temporary/hero_4.jpg">
        </div>

        <div class="image-container">
          <img src="/static/img/temporary/hero_3.jpg">
        </div>

    </div>
</div>

<div class="section">
    <div class="grid grid--center">

        <!-- Section 1 -->
        <div class="grid__item one-whole">
            <div class="section__thin">
                <h2>Title 1</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>



        <!-- Section 2 -->
        <div class="grid__item one-whole section_2">
            <div class="section__thin">
                <h2>Title 2</h2>
                <p>
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>


        <!-- Section 3 -->
        <div class="grid__item one-whole">
            <div class="section__thin">
                <h2>Title 3</h2>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                </p>
            </div>
        </div>


        <!-- Section 4 -->
        <div class="grid__item one-whole section_4">
            <div class="section__thin">
                <h2>Title 3</h2>
                <p>
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                </p>
            </div>
        </div>

    </div>
</div>


<div class="footer">
    <p>Footer</p>
</div>

{% endblock main-content %}
