{% extends "base.html" %}

{% block main-content %}

<!-- Jumbotron -->
<div class="jumbotron vertical-center">
    <div class="container">
      <h1>Title</h1>
      <p>Subtitle</p>
    </div>
</div>

<div class="nav">
    <p>Home</p>
    <p>One</p>
    <p>Two</p>
    <p>Three</p>
    <p>Contact</p>
</div>


<div class="grid grid--center">


    <!-- Section 1 -->
    <div class="grid__item one-whole section_1">
        <div class="container">
            <h2>Title 1</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>

    <img src="https://a.tangible.net.nz/www/images/ee7fb20339a622bedc28e10f94acfdb0.jpg" />



    <!-- Section 2 -->
    <div class="grid__item one-whole section_2">
        <div class="container">
            <h2>Title 2</h2>
            <p>
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>

    <div class="xad" data-zone-id="371" data-zone-name="leaderboard_2"><a href="https://a.tangible.net.nz/www/delivery/ck.php?oaparams=2__bannerid=5983__zoneid=371__cb=ed7837cd37__oadest=https%3A%2F%2Fwww.mercurymarine.com%2Fen%2Fnz%2Fengines%2Fdiesel%2F" target="Mercury Marine"><img src="https://a.tangible.net.nz/www/images/b0f617bb92d8985fc9f4e8d44d64c666.jpg" width="728" height="90" alt="Mercury Marine NZ" title="Mercury Marine NZ" border="0"></a><div id="beacon_ed7837cd37" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://a.tangible.net.nz/www/delivery/lg.php?bannerid=5983&amp;campaignid=2302&amp;zoneid=371&amp;loc=http%3A%2F%2Ffishing2014.dev.andsomeideas.com%2F&amp;cb=ed7837cd37" width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>
    </div>

    <!-- Section 3 -->
    <div class="grid__item one-whole section_3">
        <div class="container">
            <h2>Title 3</h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
        </div>
    </div>
    <div class="xad" data-zone-id="826" data-zone-name="square-2"><a href="https://a.tangible.net.nz/www/delivery/ck.php?oaparams=2__bannerid=6738__zoneid=826__cb=25fac820c8__oadest=http%3A%2F%2Fwww.nzcafeoftheyear.co.nz%2Fvote" target="_blank"><img src="https://a.tangible.net.nz/www/images/5e90dbf923a5bb0d9edd7bc56cc09b92.gif" width="300" height="250" alt="" title="" border="0"></a><div id="beacon_25fac820c8" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://a.tangible.net.nz/www/delivery/lg.php?bannerid=6738&amp;campaignid=2452&amp;zoneid=826&amp;loc=http%3A%2F%2Fdish.st.imagecentre.co.nz%2F&amp;cb=25fac820c8" width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>
    </div>


    <!-- Section 4 -->
    <div class="grid__item one-whole section_4">
        <div class="container">
            <h2>Title 3</h2>
            <p>
                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>
        </div>
    </div>

</div>


<div class="footer">
    <p>Footer</p>
</div>

{% endblock main-content %}
